@page
@model The_All_Breeds_Dogs_Club.Pages.BreedsModel
@{
    ViewData["Title"] = "Breeds";
}

<h2>Список пород</h2>
<div>
    <p>
        Индекс:<br />
        <input id="breedId" />
    </p>
    <p>
        Название:<br />
        <input id="breedName" />
    </p>
    <p>
        <button id="saveBtn">Сохранить</button>
        <button id="resetBtn">Сбросить</button>
    </p>
</div>

<div class="overflow-auto">
    <table class="table">
        <thead><tr><th>Индекс</th><th>Название</th><th></th></tr></thead>
        <tbody></tbody>
    </table>
</div>

<script src="~/js/Breeds.js" asp-append-version="true"></script>
