@page
@model The_All_Breeds_Dogs_Club.Pages.DogshowModel
@{
	ViewData["Title"] = "Dogshow";
}

<h1>Выставки собак</h1>
<table id="t-table">
    <thead>
        <tr>
            <th>Название выставки</th>
            <th>Количество собак</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("/api/request/dogshow", function (data) {
            var table = $("#t-table");
            data.forEach(function (item) {
                table.append("<tr><td>" + item.name + "</td><td>" + item.dogCount + "</td></tr>");
            });
        });
    });
</script>