@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время обработки вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключение в <strong>режим разработки</strong> позволяет отображать подробную информацию об ошибке, которая произошла.
</p>
<p>
    <strong>Режим разработки не следует включать для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений конечным пользователям.
    Для отладки на локальном компьютере включите <strong>режим разработки</strong>, установив значение переменной окружения <strong>ASPNETCORE_ENVIRONMENT</strong> равным <strong>Development</strong>
    и перезапустите приложение.
</p>
