@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Добро пожаловать в клуб собаководов "The All Breeds Dogs Club"!</h1> 
<p class="lead">Уникальное сообщество для любителей собак и питомников.</p>
